<div class="footerBrake"></div>
<!-- <div class="detail-header">
    <h1>{{list.title}}</h1>
    <p>{{list.location}}</p>
</div> -->
<div class="hero-img-detail">
    <img [src]="list.imgFile" alt="cabin">
</div>

<div id="description-reserve">
<div class="decription">
    <h1>{{list.title}}</h1>
    <p>Hosted by: <strong>{{list._ownerId.username}}</strong></p>
    <p>{{list.location}}</p>
    <div class="detailBrake"></div>

    <p>{{list.description}}
    </p>
    <div class="catalogBrake"></div>
    <h2>Amenities</h2>
    <div>
        <ul class="grid-list">
            <li *ngIf="list.service1">{{list.service1}}</li>
            <li *ngIf="list.service2">{{list.service2}}</li>
            <li *ngIf="list.service3">{{list.service3}}</li>
            <li *ngIf="list.service4">{{list.service4}}</li>
        </ul>
    </div>
</div>

<div class="reserve">
    <h1>{{list.price}}EUR / night</h1>
    <div  *ngIf="!owner" class="grid-list2">
        <label for="checkIn">Check in</label>
        <label for="checkOut">Check Out</label>
        <input type="date" name="checkIn" placeholder="Check in">
        <input type="date" name="checkOut" placeholder="Check out">
    </div>
    <a *ngIf="!owner" routerLink="#" class="button">Reserve</a>
    <a *ngIf="owner" routerLink="/catalog/edit/{{list._id}}" class="button buttonEd">Edit</a>
    <a *ngIf="owner" (click)="deleteListing()" routerLink="/catalog/delete/{{list._id}}" class="button buttonDel">Delete</a>

    <div class="charge grid-list">
        <p>Nights</p>  <p class="float-right">600EUR</p>
        <p>Taxes</p>  <p class="float-right">200EUR</p>
        <!-- <div class="catalogBrake"></div> -->
        <!-- <div></div> -->
    </div>
    <div class="catalogBrake"></div>
    <div class="charge grid-list">
    <h3>Total</h3> <h3 class="float-right">620EUR</h3>
</div>
</div>
</div>


<div class="catalogBrake"></div>
<section class="comment-section">
<h1>Add a review</h1>
<div class="container"> 
        <form class="form" action="">
            <input class="form__field" type="text" name="comment" placeholder="Share your thoughts">
            <button class="btn btn--primary btn--inside button" type="submit">Post it! -></button>
        </form>
</div>
<div class="show-comments">
    <div class="comment">
        <h3>Tobin Hackett</h3>
        <p>Stunning views of Sofiq. Very peaceful. Love it so much. Definitely gonna come back and visit.</p>
        <div class="comentBrake"></div>
    </div>
    <div class="comment">
        <h3>Tobin Hackett</h3>
        <p>Stunning views of Sofiq. Very peaceful. Love it so much. Definitely gonna come back and visit.</p>
        <div class="comentBrake"></div>
    </div>
    <div class="comment">
        <h3>Tobin Hackett</h3>
        <p>Stunning views of Sofiq. Very peaceful. Love it so much. Definitely gonna come back and visit.</p>
        <div class="comentBrake"></div>
    </div>
</div>

</section>