<div class="footerBrake"></div>
<div class="detail-header">
    <h1>Beach house</h1>
    <p>Sofiq</p>
</div>
<div class="hero-img-detail">
    <img src="https://images.pexels.com/photos/8112856/pexels-photo-8112856.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="cabin">
    <!-- <img src="https://images.pexels.com/photos/8112856/pexels-photo-8112856.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="cabin">
    <img src="https://images.pexels.com/photos/8112856/pexels-photo-8112856.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="cabin"> -->
</div>

<!-- <div class="hero-title-brake">
    <h1>Let's go on an adventure</h1>
    <p>Find and book a great experience.</p>
</div> -->

<div id="description-reserve">
<div class="decription">
    <h1>Private room in house</h1>
    <p>Hosted by: <strong>Joe D</strong></p>
    <div class="detailBrake"></div>

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        Ipsum doloremque magni sit quidem, accusantium provident minima totam aliquam quae soluta modi animi. 
        Magni nostrum distinctio consequatur, quibusdam ipsum incidunt assumenda.
        Magni nostrum distinctio consequatur, quibusdam ipsum incidunt assumenda.
        Magni nostrum distinctio consequatur, quibusdam ipsum incidunt assumenda.
        Magni nostrum distinctio consequatur, quibusdam ipsum incidunt assumenda.
    </p>
    <div class="catalogBrake"></div>
    <h2>Amenities</h2>
    <div>
        <ul class="grid-list">
            <li>Free wifi 24/7</li>
            <li>Free computer</li>
            <li>Breakfast included</li>
            <li>Free clean bathroom</li>
            <li>ATM</li>
            <li>Nearby city</li>
        </ul>
    </div>
</div>

<div class="reserve">
    <h1>200EUR / night</h1>
    <div class="grid-list2">
        <label for="checkIn">Check in</label>
        <label for="checkOut">Check Out</label>
        <input type="date" name="checkIn" placeholder="Check in">
        <input type="date" name="checkOut" placeholder="Check out">
    </div>
    <a href="#" class="button">Reserve</a>

    <div class="charge grid-list">
        <p>Nights</p>  <p class="float-right">600EUR</p>
        <p>Taxes</p>  <p class="float-right">200EUR</p>
        <!-- <div class="catalogBrake"></div> -->
        <!-- <div></div> -->
    </div>
    <div class="catalogBrake"></div>
    <div class="charge grid-list">
    <h3>Total</h3> <h3 class="float-right">620EUR</h3>
</div>
</div>
</div>


<div class="catalogBrake"></div>
<section class="comment-section">
<h1>Add a review</h1>
<div class="container"> 
        <form class="form" action="">
            <input class="form__field" type="text" name="comment" placeholder="Share your thoughts">
            <button class="btn btn--primary btn--inside button" type="submit">Post it! -></button>
        </form>
</div>
<div class="show-comments">
    <div class="comment">
        <h3>Tobin Hackett</h3>
        <p>Stunning views of Sofiq. Very peaceful. Love it so much. Definitely gonna come back and visit.</p>
        <div class="comentBrake"></div>
    </div>
    <div class="comment">
        <h3>Tobin Hackett</h3>
        <p>Stunning views of Sofiq. Very peaceful. Love it so much. Definitely gonna come back and visit.</p>
        <div class="comentBrake"></div>
    </div>
    <div class="comment">
        <h3>Tobin Hackett</h3>
        <p>Stunning views of Sofiq. Very peaceful. Love it so much. Definitely gonna come back and visit.</p>
        <div class="comentBrake"></div>
    </div>
</div>

</section>