#sign-section{
	margin: 0;
	padding: 3em;
	display: flex;
	justify-content: center;
	align-items: center;

}
.main-sign{
	height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
	background: white;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 5px 20px 50px rgba(0, 0, 0, 0.205);
    
}
.main-sign .sign-img{
    display: flex; 
    object-fit:cover;
    object-position: bottom;
    width: 300px;
    overflow: hidden;
}
.main-sign .sign-img img{
    object-fit:cover;
    object-position: bottom;
}
#chk{
	display: none;
}
.signup{
	position: relative;
	width:100%;
	height: 100%;
}



.signup label{
	color: #505366;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 40px;
	font-weight: bold;
}
.signup input{
    font-family: 'Raleway', sans-serif;
	width: 60%;
	height: 20px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 15px;
	border: none;
	outline: none;
	border-radius: 5px;
}
.login-lg input{
    font-family: 'Raleway', sans-serif;
	width: 60%;
	height: 20px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 15px;
	border: none;
	outline: none;
	border-radius: 5px;
}
.signup button{
	width: 60%;
	margin: 10px auto;
	justify-content: center;
	display: block;
	cursor: pointer;
	height: 40px;
	font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.not-for-here{
    display: flex;
    margin-top: 2em;
    justify-content: center;
    color: black;
}
.not-for-here a{
    text-decoration: none;
    color: #0087ca;
    margin-left: 10px;
} 


@media only screen and (max-width: 800px) {
    .main-sign{
        display: flex;
        width: 350px;
        height: 500px;
        /* align-items: center; */
        justify-content: center;
    }
    .main-sign .sign-img{
        display: none;
    }
}