<footer>
    <div class="footerBrake"></div>
    <div class="social">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fa-brands fa-tiktok"></i></a>
    </div>
    <div class="footer-links">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/catalog">Rentals</a></li>
            <li><a href="/create">Create</a></li>
            <li><a href="/auth/logout">Logout</a></li>
            
            <li><a href="/auth/register">Register</a></li>
            <li><a href="/auth/login">Login</a></li>

            <li><a href="/about">About</a></li>
        </ul>
    </div>
    <div class="copy">
        <img src="../../../assets/logo.png" alt="logo">
        <p> Copyright &copy; bookMe, inc.</p>
    </div>

</footer>
