#spinner{
    display: flex;
    color: blueviolet;
    border-color: aqua;
    stroke-dasharray: 2132;
    animation: 3s fillSvg ease-in-out infinite;
}

#scaffold{
    display: flex;
    position: absolute;
    z-index: -1;
    margin-left: 15px;
    margin-top: 15px;
    
}
#loader{
    display: flex;

}

@keyframes fillSvg {
    0% {
        stroke-dashoffset: 2132;
    }
    50% {
        stroke-dashoffset: 0;
        /* transform: rotateX('90'); */
    }
    100%{
        stroke-dashoffset: -2132;
    }
}
  

