<div class="catalog-listings">
<div *ngFor="let list of listings" class="list">
    <a routerLink="/catalog/detail/{{list._id}}">
    <img [src]="list.imgFile" alt="productImage">
    <div id="inside-grid">
        <div>
        <h1>{{list.title}}</h1>
        <p>{{list.location}}</p>
        </div> 
        <div class="price">

            <h1 *ngIf="user" >{{list.price}}EUR </h1>

        </div>
    </div>
    <div class="catalogBrake">
    </div>
    <p *ngIf="user">20.10 - 25.10</p>
    <p *ngIf="!user">Available dates</p>
    </a>
</div>
</div>