<div class="catalog-listings">


<div class="list">
    <img src="https://images.pexels.com/photos/803975/pexels-photo-803975.jpeg?auto=compress&cs=tinysrgb&w=600" alt="productImage">
    <div id="inside-grid">
        <div>
        <h1>Cabin</h1>
        <p>Sofiq</p>
        </div> 
        <div class="price">

            <h1>10E </h1>

        </div>
    </div>
    <div class="catalogBrake">
    </div>
    <p>20.10 - 25.10</p>
    <a href="/catalog/123"></a>
</div>



<div class="list">
    <img src="https://images.pexels.com/photos/3717517/pexels-photo-3717517.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="productImage">
    <div id="inside-grid">
        <div>
        <h1>Guest House</h1>
        <p>Sofiq</p>
        </div> 
        <div class="price"> <h1>10E</h1> </div>
    </div>
    <div class="catalogBrake">
    </div>
    <p>20.10 - 25.10</p>
    <a href="/catalog/123"></a>
</div>



<div class="list">
    <img src="https://images.pexels.com/photos/593171/pexels-photo-593171.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="productImage">
    <div id="inside-grid">
        <div>
        <h1>Beach House</h1>
        <p>Sofiq</p>
        </div> 
        <div class="price">
            <h1>10E</h1>
        </div>
    </div>
    <div class="catalogBrake">
    </div>
    <p>20.10 - 25.10</p>
    <a href="/catalog/123"></a>
</div>

<div class="list">
    <img src="https://images.pexels.com/photos/593171/pexels-photo-593171.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="productImage">
    <div id="inside-grid">
        <div>
        <h1>Beach House</h1>
        <p>Sofiq</p>
        </div> 
        <div class="price">
            <!-- <h1>10&#x20AC</h1> -->
        </div>
    </div>
    <div class="catalogBrake">
    </div>
    <p>Available dates</p>
    
</div>

<div class="list">
    <img src="https://images.pexels.com/photos/593171/pexels-photo-593171.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="productImage">
    <h1>Beach House</h1>
    <p>Price: 10E</p>
</div>

<div class="list">
    <img src="https://images.pexels.com/photos/803975/pexels-photo-803975.jpeg?auto=compress&cs=tinysrgb&w=600" alt="productImage">
    <h1>Cabin</h1>
    <p>Price: 10E</p>
    <a href="/catalog/123"></a>
</div>
</div>