<nav id="nav">
    <!-- {{!-- {{hasUser}} --}} -->
    <a href="/">
        
        <img class="logo" src="../../../assets/logo.png" alt="logo">

    </a>
    <div class="brForLogo"></div>
    

    <ul class="nav-links-main">
        <li><a routerLink="/">Home</a></li>
        <!-- <li><a routerLink="/catalog">Bookings</a></li> -->
        <li *ngIf="user"><a routerLink="catalog/create">Create</a></li>
        <li><a routerLink="/about">About</a></li>
    </ul>
    <ul class="nav-links-users">
        <ng-container *ngIf="user">
            <li><a routerLink="/auth/profile/{{user._id}}">Welcome, {{user.username}}!</a></li> 
            <li><a routerLink="/auth/logout">Log out</a></li>
        </ng-container>
       
        <ng-container *ngIf="!user">
        <li><a routerLink="/auth/register">Register</a></li>
        <li><a routerLink="/auth/login">Login</a></li>
        </ng-container>
    </ul>
    <i id="hamburger" class="fa-solid fa-bars"></i>
</nav>