<nav id="nav">
    <!-- {{!-- {{hasUser}} --}} -->
    <a href="/">
        
        <img class="logo" src="../../../assets/logo.png" alt="logo">

    </a>
    <div class="brForLogo"></div>
    

    <ul class="nav-links-main">
        <li><a href="/">Home</a></li>
        <li><a href="/catalog">Bookings</a></li>
        <!-- {{#if hasUser}} -->
        <li><a href="/create">Create</a></li>
        <!-- {{/if}} -->
        <li><a href="/about">About</a></li>
    </ul>
    <ul class="nav-links-users">
        <!-- {{#if hasUser}} -->
        <!-- <li>Welcome, someone!</li> 
        <li><a href="/auth/logout">Log out</a></li> -->
        <!-- {{else}} -->
        <li><a routerLink="/auth/register">Register</a></li>
        <li><a routerLink="/auth/login">Login</a></li>
        <!-- {{/if}} -->
    </ul>
    <i id="hamburger" class="fa-solid fa-bars"></i>
</nav>